.cell.description{
    display: flex;
    flex-direction: column;
    height: 100%;
   
}
.content-container{
    display: flex;
    width: 100%;
    min-height: 70px;
    justify-content:space-around;
    align-items:flex-start;
    
  }